<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ji.jichat.user.mapper.SystemDictTypeMapper">

    <select id="page" parameterType="com.ji.jichat.user.api.dto.SystemDictTypePageDTO" resultType="com.ji.jichat.user.api.vo.SystemDictTypeVO">
        SELECT
        id,
        name,
        type,
        status,
        remark,
        creator,
        updater,
        deleted,
        deleted_time
        FROM system_dict_type
        <where>
            <if test="id != null">
                AND id= #{id}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type LIKE concat('%', #{type}, '%')
            </if>
            <if test="status != null">
                AND status= #{status}
            </if>
            <if test="remark != null and remark != ''">
                AND remark LIKE concat('%', #{remark}, '%')
            </if>
            <if test="creator != null and creator != ''">
                AND creator LIKE concat('%', #{creator}, '%')
            </if>
            <if test="updater != null and updater != ''">
                AND updater LIKE concat('%', #{updater}, '%')
            </if>
            <if test="deleted != null">
                AND deleted= #{deleted}
            </if>
            <if test="deletedTimeStart != null and deletedTimeEnd != null">
                AND deleted_time BETWEEN #{deletedTimeStart} AND #{deletedTimeEnd}
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
