[mysqld]
# 服务端字符集
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
# 跳过 DNS 解析
skip-name-resolve
# 关闭 MySQL 的主机名缓存
skip-host-cache
# 服务id
server-id = 1
# 开启 binlog
log-bin = mysql-bin
# binlog 的格式
binlog_format = MIXED

[mysql]
# 客户端字符串
default-character-set = utf8mb4