package ${packageName}.mapper;

import java.util.List;

import ${packageName}.domain.${ClassName};
import ${packageName}.api.dto.${ClassName}PageDTO;
import ${packageName}.api.vo.${ClassName}VO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}>{


    /**
     * 查询${functionName}列表
     *
     * @param ${className}PageDTO ${functionName}PageDTO
     * @return ${functionName}集合
     */
    List<${ClassName}VO> select${ClassName}List(${ClassName}PageDTO ${className}PageDTO);


}
