package ${packageName}.api.dto;

#foreach ($import in $importList)
import ${import};
#end
import com.dream.common.base.BaseEntity;
#if($table.crud || $table.sub)
#elseif($table.tree)
#end

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * ${functionName} PageDTO
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@Data
#if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
#else
@EqualsAndHashCode(callSuper = false)
#end
@Accessors(chain = true)
@ApiModel(value="${functionName}分页入参")
public class ${ClassName}PageDTO extends ${Entity}{


#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.javaField!="delFlag")
#if($column.javaType == 'Date')
    @ApiModelProperty(value = "${column.columnComment}-开始")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss",timezone ="GMT+8")
    private $column.javaType ${column.javaField}Begin;
    @ApiModelProperty(value = "${column.columnComment}-结束")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss",timezone ="GMT+8")
    private $column.javaType ${column.javaField}End;

#else
    @ApiModelProperty(value = "${column.columnComment}")
    private $column.javaType $column.javaField;

#end
#end
#end
#end
}
