package ${packageName}.api;

import com.dream.common.core.constant.ServiceNameConstants;
import com.dream.common.core.domain.R;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.cloud.openfeign.FeignClient;
import ${packageName}.api.dto.${ClassName}DTO;
import ${packageName}.api.vo.${ClassName}VO;

#set($rpcName=$moduleName.toUpperCase()+"_SERVICE")
/**
 * ${functionName}服务
 *
 * @author ${author}
 * @date ${datetime}
 */
@FeignClient(contextId = "${businessName}Rpc", path = "/${businessName}",value = ServiceNameConstants.$rpcName)
public interface ${ClassName}Rpc {

    /**
     * 获取${functionName}详细信息
     */
    @Operation(summary ="获取${functionName}详细信息")
    @GetMapping(value = "/{${pkColumn.javaField}}")
    R<${ClassName}VO> getInfo(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField});


    /**
     * 新增${functionName}
     */
    @Operation(summary ="新增${functionName}")
    @PostMapping
    R<Boolean> add(@RequestBody ${ClassName}DTO ${className}DTO);



}
